.descricao {
    margin: 2em 1em 2em 1em ;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
}

.descricao__titulo {
    color: var(--color-white);
    margin-left: 4px;
    font-size: 26px;
    font-family: var(--primary-font);
}

.descricao__texto {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: var(--primary-font);
    color: var(--color-white);
    margin-left: 4px;
}