.descricao {
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
}

.descricao__titulo {
    color: var(--color-white);
    margin-left: 4px;
    font-size: 26px;
    font-family: var(--primary-font);
}

.descricao__texto {
    font-family: var(--primary-font);
    color: var(--color-white);
    margin-left: 4px;
}