.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background-color: #5A6988;
}

.header__titulo {
    color: var(--color-white);
    font-family: var(--primary-font);
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 .5em;
}

.header__img {
    margin: 0 .5em;
}