.bookSwiper {
    width: 50%;
}

.swiper-div {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.swiper-img {
    margin-left: 3em;
    width: 30px;
    height: 30px;
}

.swiper-titulo {
    color: var(--color-white);
    margin-left: 1em;
    font-size: 20px;
    font-family: var(--primary-font);
}

.swiper-slide-img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-scroll-titulo {
    margin-bottom: 1em;
    color: var(--color-white);
    font-size: 20px;
    font-family: var(--primary-font);
}

.swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .swiper-slide p {
    font-size: 18px;
    color: var(--color-white);
    font-family: var(--primary-font);
  }

  .mySwiper {
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 1em;
      justify-content: center;
      height: 312px;
      width: 80%;
      overflow: hidden;
  }