.swiper {
    width: 60%;
}

.swiper-div {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.swiper-img {
    margin-left: 3em;
    width: 30px;
    height: 30px;
}

.swiper-titulo {
    color: var(--color-white);
    margin-left: 1em;
    font-size: 20px;
    font-family: var(--primary-font);
}

.swiper-slide-img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}